
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: right;
    background-color: rgb(0, 0, 0);
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-family: century;
    font-size: 1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    font-weight: bold;
}
/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    justify-content: right;
    align-items: center;
    color: white;
}
#home::before{
    content: "";
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    background: url('../IMAGES/pg.jpg');
    height: 100%;
    width: 100%;
    z-index: -1;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 2%;
    left: 4%;
}
.logo{
    font-family: sans-serif;
    font-size: 2rem;
    text-align: right;
    margin: 1px 0px;
    color: rgb(255, 255, 255);
}
.headings{
    font-family: sans-serif;
    font-size: 3rem;
    text-align: right;
    margin: 2px 0px;
    color: rgb(223, 223, 223);
}
.headings2{
    font-family: serif;
    font-size: 5rem;
    text-align: right;
    margin: 5x 0px;
    color: rgb(255, 255, 255);
}
.headings3{
    font-weight: 500;
    font-family: serif;
    font-size: 1.2rem;
    text-align: right;
    margin: 5x 0px;
}
.btn{
    padding: 10px 35px;
    background-color: transparent;
    border-radius: 13px;
    border: 1px solid white;
    color: white;
    outline: none;
    transition: .6s ease;
}
.btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    font-weight: bold;
}   